*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --primary-text-color: #1f2937;
  --sec-text-color: #9ca3af;
  --background-color: #f0f0f0;
  --primary-accent: #346ec9;
  --sec-accent: #e5e7eb;
  --completed-color: #80b156;
  --high-priority: #d6542c;
  --medium-priority: #061E28;
  --low-priority: #3c345c;
}

html {
  height: 100%;
}

body {
  margin: auto;
  border: 1px solid;
  min-height: 100%;
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  justify-content: center;
  padding-inline: 1em;
  background-color: var(--background-color);
}

header {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
}

main {
  display: flex;
  flex-direction: column;
}

#add-task-field {
  background-color: var(--sec-accent);
  border-radius: 0.5em;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
  padding: 1em;
}

#add-task {
  display: flex;
  flex-direction: column;
}

#add-task>input,
#add-task>select {
  margin-block: 0.3em;
  padding: 0.5em;
  border: 1px solid var(--sec-text-color);
  ;


  &:focus {
    outline: 2px solid var(--sec-text-color);
  }
}

#add-task>input::placeholder {
  font-size: 1rem;
  color: var(--sec-text-color);
}

#added-tasks-field {
  width: 100%;
  margin-block: 3em;
  overflow-y: scroll;
}

#add-task>button {
  background-color: var(--primary-accent);
  margin-top: 0.5em;
  padding: 0.5em 1em;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

footer>address {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: 1em;
  font-style: italic;
  font-weight: bold;
}

footer .social-icons {
  font-size: 2rem;
  margin-top: 0.3em;
}