@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --primary-text-color: #1f2937;
  --sec-text-color: #9ca3af;
  --background-color: #f0f0f0;
  --primary-accent: #346ec9;
  --sec-accent: #e5e7eb;
  --completed-color: #80b156;
  --high-priority: #d6542c;
  --medium-priority: #d56fde;
  --low-priority: #c5ce4b;
}

html {
  height: 100%;
}

body {
  margin: auto;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 100%;
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  justify-content: center;
  padding-inline: 1em;
  background-color: var(--background-color);
  box-shadow: 3px 0 3px rgba(0, 0, 0, 0.1);
  font-family: Helvetica, sans-serif;
}

header {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
}

main {
  display: flex;
  flex-direction: column;
}

#add-task-field {
  margin-inline: auto;
  background-color: var(--sec-accent);
  border-radius: 0.5em;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
  padding: 1em;
  width: 100%;
  max-width: 400px;
}

#add-task {
  display: flex;
  flex-direction: column;
}

#add-task>input,
#add-task>select {
  margin-block: 0.3em;
  padding: 0.5em;
  border: 1px solid var(--sec-text-color);
  ;


  &:focus {
    outline: 2px solid var(--sec-text-color);
  }
}

#add-task>input::placeholder {
  font-size: 1rem;
  color: var(--sec-text-color);
}

#added-tasks-field {
  width: 100%;
  margin-block: 3em;
  display: flex;
  flex-direction: column-reverse;
}

#add-task>button {
  background-color: var(--primary-accent);
  margin-top: 0.5em;
  padding: 0.5em 1em;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

footer>address {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: 1em;
  font-family: "Caveat Brush";
}

footer .social-icons {
  font-size: 2rem;
  margin-top: 0.3em;
  display: flex;
  justify-content: space-between;
}

footer .social-icons i:hover {
  scale: 0.9;
}

.task-item {
  max-width: 600px;
  list-style: none;
  padding: 0.5em 2em 0.5em 0.3em;
  border-radius: 0.5em;
  border: 1px solid var(--sec-text-color);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  margin-block: 0.5em;
  position: relative;
  text-transform: capitalize;
}

.task-item>li {
  padding: 0.2em;
}

.task-item span {
  font-weight: bold;
}

.delete-tasks,
.edit-tasks {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 40%;
  padding: 0.2em;
  font-size: 0.7rem;
  border: 1px solid var(--primary-text-color);
  cursor: pointer;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.edit-tasks {
  top: 60px;
  padding: 0.2em;
}

.folder-container {
  display: flex;
  justify-content: space-around;
}

.folder-list-container {
  /* background-color: blue; */
  list-style: none;
}

.folder-list-container>li {
  padding: 0.5em;
  border: 1px solid var(--sec-text-color);
  width: min-content;
  border-radius: 1em;
}